.shop{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
    background-color: #FFF;
    h3{
        font-family: 'Open Sans', sans-serif;
        color:#2E2E2E;
    }
}