//@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans|Playfair+Display:700');

@import '../NavBar/_NavBar';
@import '../NavBar/_HambMenu';
@import '../ProductsStore/_ProductsStore';
@import '../ProductsStore/_Products';
@import '../Filters/_Filters';
@import '../Footer/_Footer';

$red: #F62F5E;
$softgray: #B4B4B4;
$medgray: #6C6C6C;
$darkgray: #2E2E2E;
$white: #FFF;

$montserrat: 'Montserrat', sans-serif;

* {
    margin:0; 
    padding:0;
}

.App{
    section {
        background-color: #f7f7f7;
        padding: 20px;
        display: flex;
        flex-direction: row;
    }
}
