.hamb-menu-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    position: absolute;
    right: 0;

    .hamb-menu {
        display: flex;
        background-color: rgba(255, 255, 255, 0.4);
        width: 303px;
        height: 416px;
        justify-content: center;
        -webkit-box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.1);
        -moz-box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.1);
        box-shadow: -1px 1px 1px -1px rgba(0,0,0,0.1);

        .hamb-options {
            display: flex;
            font-family: 'Montserrat', sans-serif;
            flex-direction: column;
            padding: 45px 0 45px 0;
            align-items: center;
            justify-content: space-between;

            button {
                font-size: 15px;
                font-family: 'Montserrat', sans-serif;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.4);
                color: #2E2E2E;                
                border: none;
                text-decoration: none;
            }
        }
    }
}