@import '../NavBar/_SearchBox';

header {
    .nav-bar {
        background-color: #2E2E2E;
        display: flex;
        justify-content: space-between;
        padding: 0 6% 0 6%;

        #logo {
            width: 200px;
            min-width: 170px;
            margin: 22px 0 22px 0;

            .cls-1 {
                fill: #f62f5e;
            }
        }

        .menu {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .options {
                display: flex;
                align-items: center;
                justify-content: center;
                font-family: 'Montserrat', sans-serif;

                button {
                    font-size: 15px;
                    font-family: 'Montserrat', sans-serif;
                    cursor: pointer;
                    background-color: #2E2E2E;
                    border: none;
                    color: #FFF;
                    text-decoration: none;
                    margin-right: 70px;
                }
            }
        }

        .nav-btns {
            display: flex;

            button {
                background: none;
                border: none;
                cursor: pointer;

                img {
                    width: 18px;
                }
            }

            #bag-btn {
                cursor: pointer;
                img {
                    width: 20px;
                }
            }

            .hamb-menu-btns {
                display: none;
            }

        }

        //.nav-bar end
    }

   /* .hamb-menu-cont {
        display: none;

        .hamb-menu {
            display: none;
        }
    }*/

    //header end
}

// RESPONSIVE
@media only screen and (max-width: 1100px) {
    header {
        .nav-bar {
            .menu {
                display: none;
            }

            .nav-btns {
                #bag-btn {
                    display: none;
                }

                .search-box {
                    display: none;
                }

                .hamb-menu-btns {
                    display: flex;

                    #hamb-btn {
                        padding-left: 25px;
                        cursor: pointer;

                        img {
                            width: 35px;
                        }
                    }

                    #x-close-btn {
                        padding-left: 25px;
                        cursor: pointer;

                        img {
                            width: 25px;
                        }
                    }
                }
            }

            //.nav-bar end
        }

        /*.hamb-menu-cont {
            display: flex;
        }*/

        //header end
    }

    // media query (max-width: 1100px) end
}