@import '_SearchBox';

.nav-bar {
    background-color: #2E2E2E;
    display: flex;
    justify-content: space-between;
    padding: 0 6% 0 6%;
    #logo {
        width: 200px;
        margin: 22px 0 22px 0;
        .cls-1 {
            fill: #f62f5e;
        }
    }
    .menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;
            a {
                color: #FFF;
                text-decoration: none;
                margin-right: 70px;
            }
        }
    }

    .nav-btns {
        display: flex;
        button {
            background: none;
            border: none;
    
            img {
                width: 18px;
            }
        }
    
        #bag-btn {
            img {
                width: 20px;
            }
        }
    }
}