@import '_SearchBox';

.nav-bar {
    background-color: #2E2E2E;
    display: flex;

    .menu {
        display: flex;
        flex-direction: row;
        .options {
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'Montserrat', sans-serif;

            a {
                color: #FFF;
                text-decoration: none;
                margin-left: 50px;
            }
        }
    }

    button {
        background: none;
        border: none;

        img {
            width: 18px;
        }
    }

    #bag-btn {
        img {
            width: 20px;
        }
    }
}

#Capa_1 {
    width: 200px;
    margin: 22px 0 22px 20px;

    .cls-1 {
        fill: #f62f5e;
    }
}