.search-box:hover>.search-txt {
    width: 200px;
}

.search-box:hover {
    background: rgba(255, 255, 255, 0.5);
}

.search-box {
    //transform: translate(-50%, -50%);
    background: none;
    border-radius: 40px;
    margin: 13px 0 13px 0;
    padding: 0 10px 0 10px;
    display: flex;
    flex-direction: row;
    -webkit-transition: all 0.4s ease-in;
    -moz-transition: all 0.4s ease-in;
    -o-transition: all 0.4s ease-in;
    transition: all 0.4s ease-in;
    .search-txt {
        width: 0px;
        border: none;
        background: none;
        outline: none;
        color: #FFF;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        -webkit-transition: all 0.4s ease-in;
        -moz-transition: all 0.4s ease-in;
        -o-transition: all 0.4s ease-in;
        transition: all 0.4s ease-in;
    }

    .search-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}