@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans|Playfair+Display:700');

@import '_NavBar';

$red: #F62F5E;
$softgray: #B4B4B4;
$medgray: #6C6C6C;
$darkgray: #2E2E2E;
$white: #FFF;